@using Microsoft.AspNetCore.Identity
@using LilySoft_INVMS.Auth.Models
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<ul class="navbar-nav ms-auto align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                <button type="submit" class="btn btn-link nav-link text-dark p-0" style="cursor:pointer;">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
